{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Task edit</h1>

    {{ form(edit_form) }}
    <a href="{{ path('task') }}" class="btn btn-block btn-lg btn-default btn-form">
      Cancel
    </a>
    {{ form(delete_form) }}
{% endblock %}
